{% extends 'base.html' %}

{% block title %} Shelter detail {% endblock %}

{% block content %}
    <h2>{{ shelter.name }}</h2>
    <div>
        located in {{ shelter.location }}
    </div>
    {% if shelter.dog_set.all %}
        <div>
            Here is a list of all available dogs
        </div>
        {% for dog in shelter.dog_set.all %}
            <div>
                <a href="">
                    {{ dog.name }}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div>
            This shelter has no dogs available for adoption
        </div>
    {% endif %}
{% endblock %} 